[Desktop Entry]
Encoding=UTF-8
Name=Link to erikdubois/Sardi-Extra: Private trials
Type=Link
URL=https://github.com/erikdubois/Sardi-Extra
Icon=text-html
